 <footer id="sticky-footer" class="py-4 bg-dark text-white">
   <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Rupinder Gill", "https://twitter.com/rup_it", target: "_blank", class: "text-white"%></small>
   </div>
 </footer>